div#cart{
    border: 2px solid #ccc;
    position: absolute;
    right: 0;
    z-index: 1000;
    background: #fff;
}

header{
    position: relative;
    margin-top: 15px;
}

.body-cart i {
    cursor: pointer;
}

.cart-show{
    font-size: 25px;
    cursor: pointer;
}
.form-control{
    font-size: 13px;
}
.page {
    border: 1px solid #ccc;
    padding: 15px;
    min-height: 600px;
    margin: 15px 0;
}

footer {
    background: #000000;
    color: #ccc;
    text-align: center;
    height: 50px;
    padding-top: 13px;
}